<script>
  function val() {
      let requestBody = {

      }


      let requestOptions = {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "Accept": "application/json"
          },
          body: JSON.stringify()
      }

      fetch("127.0.0.1:4001/api/")
  }
</script>